.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
HELP.md
mvnw
mvnw.cmd
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/com/.DS_Store
src/main/java/com/learnai/.DS_Store
target/classes/com/learnai/ollama/BankingTools.class
target/classes/com/learnai/ollama/ChatController.class
target/classes/com/learnai/ollama/DocumentService.class
target/classes/com/learnai/ollama/JacksonConfig.class
target/classes/com/learnai/ollama/OllamaApplication.class
target/classes/com/learnai/ollama/OllamaClient.class
target/classes/com/learnai/ollama/OllamaResponse$Message.class
target/classes/com/learnai/ollama/OllamaResponse.class
target/classes/com/learnai/ollama/ToolCall$Function.class
target/classes/com/learnai/ollama/ToolCall.class
target/classes/com/learnai/ollama/ToolDefinitions.class
target/classes/documents/account-policy.txt
target/classes/documents/credit-card-policy.txt
target/classes/documents/refund-policy.txt
*.class
